<ion-view title="Contactenos" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="contactenos-form6" class="list ">
            <h3 id="contactenos-heading4" style="color:#000000;text-align:center;" class=" ">Contáctenos y díganos que piensa de nosotros</h3>
            <label class="item item-input " id="contactenos-input5" name="name">
                <span class="input-label">Nombre completo</span>
                <input type="text" placeholder="Nombre Apellido(s)">
            </label>
            <label class="item item-input " id="contactenos-input6" name="email">
                <span class="input-label">Correo electrónico</span>
                <input type="email" placeholder="you@example.com">
            </label>
            <label class="item item-input " id="contactenos-textarea1" name="message">
                <span class="input-label">Mensaje</span><textarea placeholder="..."></textarea>
            </label>
            <button id="contactenos-button3" class=" button button-positive  button-block icon-left ion-android-send ">Enviar</button>
        </form>
    </ion-content>
</ion-view>