<ion-view title="Login" hide-nav-bar="true" id="page7" class=" ">
    <ion-content padding="true" style="background: url(img/qidCGLhsRI23SdpEA655_banner.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <form id="login-form5" class="list form-login">
            <h1 id="login-heading2" style="color:#FFFFFF;text-align:center;" class=" app-title">Recargas</h1>
            <button id="login-button11" style="border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block icon-left ion-social-facebook ">Login with Facebook</button>
            <button id="login-button10" class=" button button-calm  button-block icon-left ion-social-twitter ">Login with twitter</button>
            <button id="login-button12" class=" button button-assertive  button-block icon-left ion-social-googleplus ">Login with Google+</button>
        </form>
    </ion-content>
</ion-view>