<ion-view title="Recargas" hide-back-button="true" id="page1" style="background-color:#FFFFFF;" class=" ">
    <ion-content padding="false" scroll="false" class="has-header">
        <form id="recargas-form2" class="list ">
            <label class="item item-input " id="recargas-input3" name="amount">
                <span class="input-label">Monto</span>
                <input type="text" placeholder="$X.XX">
            </label>
            <label class="item item-input " id="recargas-input4" name="phone">
                <span class="input-label">Telefono</span>
                <input type="text" placeholder="+(XX) XXXXXXXXX">
            </label>
            <label class="item item-select " id="recargas-select1" name="provider">
                <span class="input-label">Selecciona Proveedor</span>
                <select>
                    <option>ORANGE</option>
                    <option>CLARO</option>
                    <option>TRICOM</option>
                    <option>VIVA</option>
                    <option>NATCOM</option>
                    <option>DIGICEL</option>
                </select>
            </label>
            <button id="recargas-button2" class=" button button-balanced  button-block button-outline ">Recargar</button>
        </form>
    </ion-content>
</ion-view>